# Assignment 2 - B

In [11]:
%pip install numpy pandas matplotlib

Requirement already satisfied: numpy in /home/mpradyumna/Desktop/torch-rnn/venv/lib64/python3.11/site-packages (1.26.2)
Requirement already satisfied: pandas in /home/mpradyumna/Desktop/torch-rnn/venv/lib64/python3.11/site-packages (2.1.3)
Requirement already satisfied: matplotlib in /home/mpradyumna/Desktop/torch-rnn/venv/lib64/python3.11/site-packages (3.8.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/mpradyumna/Desktop/torch-rnn/venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/mpradyumna/Desktop/torch-rnn/venv/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/mpradyumna/Desktop/torch-rnn/venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /home/mpradyumna/Desktop/torch-rnn/venv/lib64/python3.11/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/mpradyumna/Desktop/torch-rnn/venv/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/mpradyumna/Desktop/torch-rnn/venv/lib64/python3.11/site-packages (from matplotlib) (4.45.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/mpradyumna/Desktop/torch-rnn/venv/lib64/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/mpradyumna/Desktop/torch-rnn/venv/lib/python3.11/site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in /home/mpradyumna/Desktop/torch-rnn/venv/lib64/python3.11/site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/mpradyumna/Desktop/torch-rnn/venv/lib/python3.11/site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: six>=1.5 in /home/mpradyumna/Desktop/torch-rnn/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Import Dependencies

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Loading Dataset and Preprocessing

In [13]:
df = pd.read_csv('Hitters.csv')
print(df.shape)
df.head()

(322, 20)

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

### 59 samples don't have salary

In [14]:
print(df.isna().sum())
df = df.dropna()

AtBat         0
Hits          0
HmRun         0
Runs          0
RBI           0
Walks         0
Years         0
CAtBat        0
CHits         0
CHmRun        0
CRuns         0
CRBI          0
CWalks        0
League        0
Division      0
PutOuts       0
Assists       0
Errors        0
Salary       59
NewLeague     0
dtype: int64

### Convert Strings to Categorical

In [17]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,A,W,282,421,25,750.0,A

In [16]:
df['League'].unique()

array(['N', 'A'], dtype=object)

In [18]:
df['Division'].unique()

array(['W', 'E'], dtype=object)

In [19]:
df['NewLeague'].unique()

array(['N', 'A'], dtype=object)

In [21]:
def map_columns(column):
    unique_values = df[column].unique()
    mapping = {value: index + 1 for index, value in enumerate(unique_values)}
    df[column] = df[column].map(mapping)
    print(f"Mapping for {column}: {mapping}")

columns_to_map = ['League', 'Division', 'NewLeague']
for column in columns_to_map:
    map_columns(column)

Mapping for League: {'N': 1, 'A': 2}
Mapping for Division: {'W': 1, 'E': 2}
Mapping for NewLeague: {'N': 1, 'A': 2}

In [22]:
df.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,1,1,632,43,10,475.0,1
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,2,1,880,82,14,480.0,2
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,1,2,200,11,3,500.0,1
4,321,87,10,39,42,30,2,396,101,12,48,46,33,1,2,805,40,4,91.5,1
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,2,1,282,421,25,750.0,2